DATABASE_URL=
NODE_ENV="development"
PORT=
BCRYPT_SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET="
JWT_ACCESS_EXPIRES_IN=""
RESET_PASS_ACCESS_EXPIRES_IN="
JWT_REFRESH_EXPIRES_IN=


STORE_ID="
STORE_PASS=
SSL_PAYMENT_API
SUCCESS_URL=
FAIL_URL=
CANCEL_URL=
SSL_VALIDATION_API=


ADMIN_EMAIL=
ADMIN_PASSWORD=